In [ ]:
import pandas as pd

#Convert accepted_loans data to Panda DataFrame
accepted_df = pd.read_csv("/Users/abubakaral-faki/Documents/Data Project/MPV1/data/raw/accepted_2007_to_2018Q4.csv")

In [ ]:
#create a copy of data frame to work with temporarily before applying changes to original 'accepted_df' DataFrame
accepted_df_copy = pd.DataFrame(accepted_df)
print(accepted_df_copy.head())

### Create a CSV of each column and it's datatype

In [ ]:
# Get data types of each variable
variable_data_types_df = accepted_df.dtypes.reset_index()

# Rename columns
variable_data_types_df.columns = ['Variables', 'Data Type']
print(variable_data_types_df)

#Save as csv
try:
    file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/variables_data_type.csv'
    
    variable_data_types_df.to_csv(file_path, index = False)
    print("Successfully saved variable_data_types_df as a csv.")

except Exception as e:
    print(e)

### Convert Date columns to Date Data Types

In [ ]:
# Convert Date_columns to Date Data types
date_columns = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d',
                'last_credit_pull_d', 'sec_app_earliest_cr_line', 'hardship_start_date',
                'hardship_end_date', 'payment_plan_start_date', 'debt_settlement_flag_date', 'settlement_date']

print(len(date_columns))

In [ ]:
# Check format of date before converting to date objects

# We use dropna to drop all missing values in a columns because sometimes the first few rows have missing values

accepted_df.settlement_date.dropna().head() # Date format "%b-$Y"

In [ ]:
# Specify the correct format: %b for abbreviated month name, %Y for 4-digit year
date_format = "%b-%Y"

# Convert date columns efficiently using the specified format
accepted_df_copy[date_columns] = accepted_df_copy[date_columns].apply(lambda col: pd.to_datetime(col,format =  date_format, errors = 'coerce'))

print(accepted_df_copy.issue_d.head())

In [ ]:
# Check if all date columns are in date format
accepted_df_copy[date_columns].dtypes

In [ ]:
# Check format of date columns
print(accepted_df_copy.settlement_date.dropna().head())

### Convert categorical columns to 'category' type

In [ ]:
# Convert Categorical columns to category

categorical_columns = ['term', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
                       'verification_status', 'loan_status', 'pymnt_plan', 'purpose',
                       'title', 'addr_state', 'initial_list_status', 'application_type',
                       'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status',
                       'hardship_loan_status', 'disbursement_method', 'debt_settlement_flag',
                       'settlement_status']

accepted_df_copy[categorical_columns] = accepted_df_copy[categorical_columns].apply(lambda col: col.astype('category'))

In [ ]:
# Check if categorical columns are of categorical data type

accepted_df_copy[categorical_columns].dtypes

In [ ]:
# the title column will require some cleaning because the categories appear in a messiy format so I am converting 
# back to a string

'''
['\tcredit_card', '\tdebt_consolidation', '\thouse', '\tother', ..., 'zxcvb', '~Life Reorganization~', 
'~Summer Fun~', '√Æ¬Å¬ó√Æ¬Å¬óMY FIRST CAR √Æ¬Å¬ó√Æ¬Å¬ó']

'''

accepted_df_copy['title']

In [ ]:
# Convert title column to string
accepted_df_copy['title'].astype(str)

In [ ]:
# Replace 'nan' strings with 'unknown'
accepted_df_copy['title'] = accepted_df_copy['title'].replace('nan', 'unknown')

# fill NaN values (missing values) with 'unknown'
accepted_df_copy['title'] = accepted_df_copy['title'].fillna('unknown')

In [ ]:
accepted_df_copy['title']

In [ ]:
# Check if 'title' column is of type 'object' type because pands represents string columns as object
print(accepted_df_copy['title'].dtype)

### Convert 'id' column to int

In [386]:
#Convert the id column to int

#check if 'id' column has any missing values
print(accepted_df_copy['id'].describe())

#convert id column from objext(text) to int

'''This code below didn't work because there is a row that is a string representing this value;
 'Total amount funded in policy code 1: 6417608175'
'''

accepted_df_copy['id'] = accepted_df_copy['id'].astype(int)

count    2.260668e+06
mean     8.032206e+07
std      4.498561e+07
min      5.473400e+04
25%      4.494527e+07
50%      8.451542e+07
75%      1.223571e+08
max      1.456473e+08
Name: id, dtype: float64

In [ ]:
# find problematic row in 'id' column stopping it from being an int column
problematic_row = accepted_df_copy[accepted_df_copy['id'] == 'Total amount funded in policy code 1: 6417608175'].index

# Remove problematics row
accepted_df_copy = accepted_df_copy.drop(index = problematic_row[0])

In [ ]:
# identify all rows in 'id' column that are not of type int

non_int_rows = accepted_df_copy[~accepted_df_copy['id'].apply(lambda x: str(x).isdigit())] #32 rows

print(non_int_rows)

In [ ]:
# check if all columns associated with the non_int_rows in 'id' column are empty

col_not_empty = non_int_rows.drop(columns=['id']).isna().all(axis=1)

print(col_not_empty)

#print(non_int_empty)

''' 
The reults shows that the are columns that are not empty for rows where the 'id' is not an integer
so we have to identify which columns are not empty for those rows
'''

In [233]:
# Identify non-empty rows in other columns associated with non-int rows in 'id'

# Step 1 - Identify Non-int rows
non_int_rows = accepted_df_copy[~accepted_df_copy['id'].apply(lambda row: str(row).isdigit())] #32 rows

print(non_int_rows)

                                                       id  member_id  \
421096   Total amount funded in policy code 2: 1944088810        NaN
528961   Total amount funded in policy code 1: 1741781700        NaN
528962    Total amount funded in policy code 2: 564202131        NaN
651664   Total amount funded in policy code 1: 1791201400        NaN
651665    Total amount funded in policy code 2: 651669342        NaN
749520   Total amount funded in policy code 1: 1443412975        NaN
749521    Total amount funded in policy code 2: 511988838        NaN
877716   Total amount funded in policy code 1: 2063142975        NaN
877717    Total amount funded in policy code 2: 823319310        NaN
983169   Total amount funded in policy code 1: 1538432075        NaN
983170    Total amount funded in policy code 2: 608903141        NaN
1117058  Total amount funded in policy code 1: 2087217200        NaN
1117059   Total amount funded in policy code 2: 662815446        NaN
1352689  Total amount funded in policy code 1: 3503840175        NaN
1352690   Total amount funded in policy code 2: 873652739        NaN
1481103  Total amount funded in policy code 1: 2050909275        NaN
1481104   Total amount funded in policy code 2: 820109297        NaN
1611877  Total amount funded in policy code 1: 2080429200        NaN
1611878   Total amount funded in policy code 2: 737901574        NaN
1651665          Loans that do not meet the credit policy        NaN
1654415   Total amount funded in policy code 1: 460296150        NaN
1654416           Total amount funded in policy code 2: 0        NaN
1751196  Total amount funded in policy code 1: 1437969475        NaN
1751197   Total amount funded in policy code 2: 520780182        NaN
1939379  Total amount funded in policy code 1: 2700702175        NaN
1939380    Total amount funded in policy code 2: 81866225        NaN
2038501  Total amount funded in policy code 1: 1404586950        NaN
2038502   Total amount funded in policy code 2: 567447023        NaN
2157151  Total amount funded in policy code 1: 1817354125        NaN
2157152   Total amount funded in policy code 2: 620899600        NaN
2260699  Total amount funded in policy code 1: 1465324575        NaN
2260700   Total amount funded in policy code 2: 521953170        NaN

         loan_amnt  funded_amnt  funded_amnt_inv term  int_rate  installment  \
421096         NaN          NaN              NaN  NaN       NaN          NaN
528961         NaN          NaN              NaN  NaN       NaN          NaN
528962         NaN          NaN              NaN  NaN       NaN          NaN
651664         NaN          NaN              NaN  NaN       NaN          NaN
651665         NaN          NaN              NaN  NaN       NaN          NaN
749520         NaN          NaN              NaN  NaN       NaN          NaN
749521         NaN          NaN              NaN  NaN       NaN          NaN
877716         NaN          NaN              NaN  NaN       NaN          NaN
877717         NaN          NaN              NaN  NaN       NaN          NaN
983169         NaN          NaN              NaN  NaN       NaN          NaN
983170         NaN          NaN              NaN  NaN       NaN          NaN
1117058        NaN          NaN              NaN  NaN       NaN          NaN
1117059        NaN          NaN              NaN  NaN       NaN          NaN
1352689        NaN          NaN              NaN  NaN       NaN          NaN
1352690        NaN          NaN              NaN  NaN       NaN          NaN
1481103        NaN          NaN              NaN  NaN       NaN          NaN
1481104        NaN          NaN              NaN  NaN       NaN          NaN
1611877        NaN          NaN              NaN  NaN       NaN          NaN
1611878        NaN          NaN              NaN  NaN       NaN          NaN
1651665        NaN          NaN              NaN  NaN       NaN          NaN
1654415        NaN          NaN              NaN  NaN       NaN          NaN
1654416        NaN          NaN              NaN  NaN       NaN          NaN
1751196        NaN          NaN              NaN  NaN       NaN          NaN
1751197        NaN          NaN              NaN  NaN       NaN          NaN
1939379        NaN          NaN              NaN  NaN       NaN          NaN
1939380        NaN          NaN              NaN  NaN       NaN          NaN
2038501        NaN          NaN              NaN  NaN       NaN          NaN
2038502        NaN          NaN              NaN  NaN       NaN          NaN
2157151        NaN          NaN              NaN  NaN       NaN          NaN
2157152        NaN          NaN              NaN  NaN       NaN          NaN
2260699        NaN          NaN              NaN  NaN       NaN          NaN
2260700        NaN          NaN              NaN  NaN       NaN          NaN

        grade sub_grade  ... hardship_payoff_balance_amount  \
421096    NaN       NaN  ...                            NaN
528961    NaN       NaN  ...                            NaN
528962    NaN       NaN  ...                            NaN
651664    NaN       NaN  ...                            NaN
651665    NaN       NaN  ...                            NaN
749520    NaN       NaN  ...                            NaN
749521    NaN       NaN  ...                            NaN
877716    NaN       NaN  ...                            NaN
877717    NaN       NaN  ...                            NaN
983169    NaN       NaN  ...                            NaN
983170    NaN       NaN  ...                            NaN
1117058   NaN       NaN  ...                            NaN
1117059   NaN       NaN  ...                            NaN
1352689   NaN       NaN  ...                            NaN
1352690   NaN       NaN  ...                            NaN
1481103   NaN       NaN  ...                            NaN
1481104   NaN       NaN  ...                            NaN
1611877   NaN       NaN  ...                            NaN
1611878   NaN       NaN  ...                            NaN
1651665   NaN       NaN  ...                            NaN
1654415   NaN       NaN  ...                            NaN
1654416   NaN       NaN  ...                            NaN
1751196   NaN       NaN  ...                            NaN
1751197   NaN       NaN  ...                            NaN
1939379   NaN       NaN  ...                            NaN
1939380   NaN       NaN  ...                            NaN
2038501   NaN       NaN  ...                            NaN
2038502   NaN       NaN  ...                            NaN
2157151   NaN       NaN  ...                            NaN
2157152   NaN       NaN  ...                            NaN
2260699   NaN       NaN  ...                            NaN
2260700   NaN       NaN  ...                            NaN

        hardship_last_payment_amount disbursement_method  \
421096                           NaN                 NaN
528961                           NaN                 NaN
528962                           NaN                 NaN
651664                           NaN                 NaN
651665                           NaN                 NaN
749520                           NaN                 NaN
749521                           NaN                 NaN
877716                           NaN                 NaN
877717                           NaN                 NaN
983169                           NaN                 NaN
983170                           NaN                 NaN
1117058                          NaN                 NaN
1117059                          NaN                 NaN
1352689                          NaN                 NaN
1352690                          NaN                 NaN
1481103                          NaN                 NaN
1481104                          NaN                 NaN
1611877                          NaN                 NaN
1611878                          NaN                 NaN
1651665                          NaN                 NaN
1654415                          NaN                 NaN
1654416                          NaN                 NaN
1751196                          NaN                 NaN
1751197                          NaN                 NaN
1939379                          NaN                 NaN
1939380                          NaN                 NaN
2038501                          NaN                 NaN
2038502                          NaN                 NaN
2157151                          NaN                 NaN
2157152                          NaN                 NaN
2260699                          NaN                 NaN
2260700                          NaN                 NaN

         debt_settlement_flag debt_settlement_flag_date settlement_status  \
421096                    NaN                       NaT               NaN
528961                    NaN                       NaT               NaN
528962                    NaN                       NaT               NaN
651664                    NaN                       NaT               NaN
651665                    NaN                       NaT               NaN
749520                    NaN                       NaT               NaN
749521                    NaN                       NaT               NaN
877716                    NaN                       NaT               NaN
877717                    NaN                       NaT               NaN
983169                    NaN                       NaT               NaN
983170                    NaN                       NaT               NaN
1117058                   NaN                       NaT               NaN
1117059                   NaN                       NaT               NaN
1352689                   NaN                       NaT               NaN
1352690                   NaN                       NaT               NaN
1481103                   NaN                       NaT               NaN
1481104                   NaN                       NaT               NaN
1611877                   NaN                       NaT               NaN
1611878                   NaN                       NaT               NaN
1651665                   NaN                       NaT               NaN
1654415                   NaN                       NaT               NaN
1654416                   NaN                       NaT               NaN
1751196                   NaN                       NaT               NaN
1751197                   NaN                       NaT               NaN
1939379                   NaN                       NaT               NaN
1939380                   NaN                       NaT               NaN
2038501                   NaN                       NaT               NaN
2038502                   NaN                       NaT               NaN
2157151                   NaN                       NaT               NaN
2157152                   NaN                       NaT               NaN
2260699                   NaN                       NaT               NaN
2260700                   NaN                       NaT               NaN

        settlement_date settlement_amount settlement_percentage  \
421096              NaT               NaN                   NaN
528961              NaT               NaN                   NaN
528962              NaT               NaN                   NaN
651664              NaT               NaN                   NaN
651665              NaT               NaN                   NaN
749520              NaT               NaN                   NaN
749521              NaT               NaN                   NaN
877716              NaT               NaN                   NaN
877717              NaT               NaN                   NaN
983169              NaT               NaN                   NaN
983170              NaT               NaN                   NaN
1117058             NaT               NaN                   NaN
1117059             NaT               NaN                   NaN
1352689             NaT               NaN                   NaN
1352690             NaT               NaN                   NaN
1481103             NaT               NaN                   NaN
1481104             NaT               NaN                   NaN
1611877             NaT               NaN                   NaN
1611878             NaT               NaN                   NaN
1651665             NaT               NaN                   NaN
1654415             NaT               NaN                   NaN
1654416             NaT               NaN                   NaN
1751196             NaT               NaN                   NaN
1751197             NaT               NaN                   NaN
1939379             NaT               NaN                   NaN
1939380             NaT               NaN                   NaN
2038501             NaT               NaN                   NaN
2038502             NaT               NaN                   NaN
2157151             NaT               NaN                   NaN
2157152             NaT               NaN                   NaN
2260699             NaT               NaN                   NaN
2260700             NaT               NaN                   NaN

        settlement_term
421096              NaN
528961              NaN
528962              NaN
651664              NaN
651665              NaN
749520              NaN
749521              NaN
877716              NaN
877717              NaN
983169              NaN
983170              NaN
1117058             NaN
1117059             NaN
1352689             NaN
1352690             NaN
1481103             NaN
1481104             NaN
1611877             NaN
1611878             NaN
1651665             NaN
1654415             NaN
1654416             NaN
1751196             NaN
1751197             NaN
1939379             NaN
1939380             NaN
2038501             NaN
2038502             NaN
2157151             NaN
2157152             NaN
2260699             NaN
2260700             NaN

[32 rows x 151 columns]

In [ ]:
# Step 2 - Check if rows in other columns associated with non-int rows are also empty so we don't drop
# important information

empty_columns_check = non_int_rows.drop(columns = 'id').isna().all(axis = 1)

print(empty_columns_check)

In [242]:
# Step 3 - Idetify which columns associated with the non-int rows in 'id' column are not empty

columns_not_empty = non_int_rows.drop(columns = 'id').columns[non_int_rows.drop(columns = 'id').notna().any()]

print(columns_not_empty)

Index(['title'], dtype='object')

In [244]:
non_int_rows[['id', columns_not_empty[0]]]

                                                       id    title
421096   Total amount funded in policy code 2: 1944088810  unknown
528961   Total amount funded in policy code 1: 1741781700  unknown
528962    Total amount funded in policy code 2: 564202131  unknown
651664   Total amount funded in policy code 1: 1791201400  unknown
651665    Total amount funded in policy code 2: 651669342  unknown
749520   Total amount funded in policy code 1: 1443412975  unknown
749521    Total amount funded in policy code 2: 511988838  unknown
877716   Total amount funded in policy code 1: 2063142975  unknown
877717    Total amount funded in policy code 2: 823319310  unknown
983169   Total amount funded in policy code 1: 1538432075  unknown
983170    Total amount funded in policy code 2: 608903141  unknown
1117058  Total amount funded in policy code 1: 2087217200  unknown
1117059   Total amount funded in policy code 2: 662815446  unknown
1352689  Total amount funded in policy code 1: 3503840175  unknown
1352690   Total amount funded in policy code 2: 873652739  unknown
1481103  Total amount funded in policy code 1: 2050909275  unknown
1481104   Total amount funded in policy code 2: 820109297  unknown
1611877  Total amount funded in policy code 1: 2080429200  unknown
1611878   Total amount funded in policy code 2: 737901574  unknown
1651665          Loans that do not meet the credit policy  unknown
1654415   Total amount funded in policy code 1: 460296150  unknown
1654416           Total amount funded in policy code 2: 0  unknown
1751196  Total amount funded in policy code 1: 1437969475  unknown
1751197   Total amount funded in policy code 2: 520780182  unknown
1939379  Total amount funded in policy code 1: 2700702175  unknown
1939380    Total amount funded in policy code 2: 81866225  unknown
2038501  Total amount funded in policy code 1: 1404586950  unknown
2038502   Total amount funded in policy code 2: 567447023  unknown
2157151  Total amount funded in policy code 1: 1817354125  unknown
2157152   Total amount funded in policy code 2: 620899600  unknown
2260699  Total amount funded in policy code 1: 1465324575  unknown
2260700   Total amount funded in policy code 2: 521953170  unknown

In [259]:
# Drop all non-int rows in id colums

#Get shape of accepted_df Dataframe before dropping rows
print('accepted_df shape before removing rows:', accepted_df_copy.shape)


# Step 1 - Get index of non-int rows in 'id' column to drop
nonint_rows_todrop = non_int_rows.index

print()
print(nonint_rows_todrop)
print(len(nonint_rows_todrop), 'rows to remove\n\n')

# Step 2 - remove non-int rows in 'id' column from accepted_df_copy

accepted_df_copy = accepted_df_copy.drop(index = nonint_rows_todrop)
print(len(nonint_rows_todrop), 'successfully dropped\n\n')

# Step 3 - Check accepted_df shape to confirm if 32 rows were dropped

print('accepted_df shape after removing rows:', accepted_df_copy.shape)

accepted_df shape before removing rows: (2260700, 151)

Index([ 421096,  528961,  528962,  651664,  651665,  749520,  749521,  877716,
        877717,  983169,  983170, 1117058, 1117059, 1352689, 1352690, 1481103,
       1481104, 1611877, 1611878, 1651665, 1654415, 1654416, 1751196, 1751197,
       1939379, 1939380, 2038501, 2038502, 2157151, 2157152, 2260699, 2260700],
      dtype='int64')
32 rows to remove


32 successfully dropped


accepted_df shape after removing rows: (2260668, 151)

In [261]:
# Check if we still have non-int rows in 'id' column

accepted_df_copy[~accepted_df_copy['id'].apply(lambda row: str(row).isdigit())] - #Should return an empty DF

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, ...]
Index: []

[0 rows x 151 columns]

In [262]:
# Soooo now we can finally Convert 'id' column to integer and it should work fingers crossed
accepted_df_copy['id'] = accepted_df_copy['id'].astype(int)

In [264]:
accepted_df_copy['id'].info()

<class 'pandas.core.series.Series'>
Index: 2260668 entries, 0 to 2260698
Series name: id
Non-Null Count    Dtype
--------------    -----
2260668 non-null  int64
dtypes: int64(1)
memory usage: 34.5 MB

### Check for other variables of type 'object' so we can convert to the right type if necessary

In [389]:
#Get data types of all variables and convert it to a DataFrame
new_data_types = pd.DataFrame(accepted_df_copy.dtypes)

# Reset index of Dataframe
new_data_types = new_data_types.reset_index()

#define column names
new_data_types.columns = ['variable', 'type']

#Get variables that are type 'object'
object_vars = new_data_types[new_data_types['type'] == 'object']

#Get all types
new_data_types['type'] = new_data_types['type'].astype('category')

print(object_vars)

                     variable    type
18               loan_purpose  object
21                   zip_code  object
58  verification_status_joint  object

In [288]:
print(new_data_types['type'].cat.categories)

Index([         int64,        float64,       category,       category,
             category,         object,       category,       category,
             category, datetime64[ns],       category,       category,
             category,       category,       category,       category,
             category,       category,       category,       category,
             category,       category,       category],
      dtype='object')

### Convert emp_title to categorical variable and remove leading whitespaces from category names

In [300]:
# Convert emp_title to category or leave as oject

accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].astype('category')

#Check type of emp_title
accepted_df_copy['emp_title'].cat.categories

Index(['\tCFO', '\tMultimedia Supervisor', '\tSlot technician',
       '\tVP - Operations', ' ', ' \tASR II', ' \tAdv Mtr Proj Fld Rep',
       ' \tAuto Body Repair', ' \tDriver', ' \tEmployee Strategies Manager',
       ...
       'zueck transportation', 'zulily', '{Owner}Truck Driver',
       '| Principal Business Solution Architect|',
       '√Ö¬ör.  Technical Illustrator', '‚ÄãAssociate Tech Support Analyst',
       '‚ÄãFinancial Analyst', '‚ÄãLicense Compliance Investigator',
       '‚ÄãSenior IT Field Support', 'üë®‚Äçüç≥ '],
      dtype='object', length=512695)

In [390]:
accepted_df_copy['emp_title'].dtype

CategoricalDtype(categories=['', '!st Assistant Plumbing Manager',
                  '!st Vice President/Wealth Advisor',
                  '!st Year Apprentice Inside Wireman', '"A" Material  Bonder',
                  '"A" Mechanic', '"A" Repairman', '"A" bonder',
                  '"B" Toolmaker', '"C" Operator',
                  ...
                  'zueck transportation', 'zulily', '{Owner}Truck Driver',
                  '| Principal Business Solution Architect|',
                  '√Ö¬ör.  Technical Illustrator',
                  '‚ÄãAssociate Tech Support Analyst', '‚ÄãFinancial Analyst',
                  '‚ÄãLicense Compliance Investigator',
                  '‚ÄãSenior IT Field Support', 'üë®‚Äçüç≥'],
, ordered=False)

In [309]:
# Convert emp_title back to object type so we can remove \t
accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].astype(str)

# Remove white spaces
accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].str.strip()

# Convert 'emp_title' column to category type
accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].astype('category')

# Category types
categories = accepted_df_copy['emp_title'].cat.categories

#Save as csv

file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/emp_title_categories.csv'

pd.DataFrame({'job_titles':categories}).to_csv(file_path, index = False)

### Change 'url'¬†column to the right datatype or drop it if not needed

In [318]:
#Inspect url Column
pd.set_option('display.max_colwidth', None) #make sure pandas doesn't truncate the url column


accepted_df_copy[['id', 'url']].head(5)

         id                                                                url
0  68407277  https://lendingclub.com/browse/loanDetail.action?loan_id=68407277
1  68355089  https://lendingclub.com/browse/loanDetail.action?loan_id=68355089
2  68341763  https://lendingclub.com/browse/loanDetail.action?loan_id=68341763
3  66310712  https://lendingclub.com/browse/loanDetail.action?loan_id=66310712
4  68476807  https://lendingclub.com/browse/loanDetail.action?loan_id=68476807

Seems like the 'url' gets info for each specific 'id'. 

Let's check if the id from the id column matches the id in
in the url

In [319]:
# Extract the loan_id from the url using a regular expression
extracted_id = accepted_df_copy['url'].str.extract(r'loan_id=(\d+)')

In [335]:
#Check if the id was extracted correctly from the url
print(extracted_id.head())

# Check type of extracted_id
print(type(extracted_id[0]))

          0
0  68407277
1  68355089
2  68341763
3  66310712
4  68476807
<class 'pandas.core.series.Series'>

#### Convert extracted_id to same datatype as 'id'

In [325]:
#Check dtype of id column
print('Type of \'id\' column is', accepted_df_copy['id'].dtype)

#Change dtype of extracted_id columns to 'int'
extracted_id[0] = extracted_id[0].astype('int')

#Check dtype of extracted_id column
print('Type of \'extracted_id\' is', extracted_id[0].dtype)

Type of 'id' column is int64
Type of 'extracted_id' is int64

In [330]:
#Check if all id's between 'extracted_id' column and 'id' column match

all_match = (accepted_df_copy['id'] == extracted_id[0]).all()

print(all_match)

True

#### We can drop url column since there no mismatches

In [ ]:
# Shape before dropping 'url'
print('Shape before drop: ', accepted_df_copy.shape)

In [341]:
# Drop 'url' column
accepted_df_copy = accepted_df_copy.drop('url', axis = 1)

In [342]:
# Shape after dropping 'url'
print('Shape after drop: ', accepted_df_copy.shape)

(2260668, 150)

### Inspect 'desc' column and change 'desc'¬†column to the right datatype if needed

'desc' contains information about the loan description wriiten by the borrower.

In [343]:
print(accepted_df_copy['desc'].head())

print(accepted_df_copy['desc'].dtype)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: desc, dtype: object
object

#### Notes from code above
From checking the data type of 'desc' and the first few rows it seems this column might be empty.

'desc' contains information about the loan description form the borrower.

We will rename this column to make it more intuitive to understand.

In [345]:
#Check if all values in the 'desc' column are all NaN

print(accepted_df_copy['desc'].info()

<class 'pandas.core.series.Series'>
Index: 2260668 entries, 0 to 2260698
Series name: desc
Non-Null Count   Dtype
--------------   -----
126065 non-null  object
dtypes: object(1)
memory usage: 99.0+ MB
None

In [ ]:
#count nuber of Null Values in 'desc' column

print(accepted_df_copy['desc'].isna().sum())

In [355]:
#Change name of column 'desc' to 'loan_purpose'
accepted_df_copy = accepted_df_copy.rename(columns = {'desc': 'loan_purpose'})

In [393]:
#Check if name change happened

accepted_df_copy['loan_purpose'].info()

<class 'pandas.core.series.Series'>
Index: 2260668 entries, 0 to 2260698
Series name: loan_purpose
Non-Null Count    Dtype
--------------    -----
2260668 non-null  object
dtypes: object(1)
memory usage: 99.0+ MB

In [392]:
accepted_df_copy['loan_purpose'].dropna().

2260694    nan
2260695    nan
2260696    nan
2260697    nan
2260698    nan
Name: loan_purpose, dtype: object

In [396]:
#Check for missing values in 'desc'/'loan_purpose'
print(accepted_df_copy['loan_purpose'].isna().sum())

0

In [394]:

accepted_df_copy['loan_purpose'].unique()

array(['nan',
       'We knew that using our credit cards to finance an adoption would squeeze us, but then medical and other unexpected expenses made the situation almost impossible. We are a stable family in a stable community. We just need to break a cycle of debt that is getting worse.',
       "I had a bad year two years ago, with some late and missed payments. I'm doing much better now, but I've got fees and some higher interest bits that have added up on top of the other stuff, and it's a little crazy. I'm hoping doing it thru Lending Club will make it easier - and cheaper - to pay off.",
       ...,
       'This loan will be used solely to consolidate credit card debts accrued while wife was/is unemployed.',
       'I have recently purchased and built a new home that I have always dreamed of having.  I would like to complete the project by putting a hottub in my backyard, however; I am not happy with the rate I  have been offered from GE to finance the spa.  I am paying cash for all other improvements, but this is the final phase and finishing touch to my happiness.  I am in the process of consolidating a lot of debt, and went through a minor period of financial woes, but through determination and hard work I have managed to rebound.  My income is fantastic, and I would pay cash for the item, but would like to reserve the money I have saved for future issues if they should arise.  I am a college graduate, responsible, and work for a very good company that is stable in this very unstable market.  I plan to repay this loan in less than 12 months with a 4th quarter bonus I will be receiving.  Thank you for your consideration.',
       'To whom it may concern,     Hello, my name is David McLean.  I am requesting a loan to consolidate some high interest revolving credit.    The interest rates go anywhere from 14-29.9%.  I am a very reliable person that meets his obligations and pays his debts.   In nearly 15 years, I have not missed or been late on a payment except once due to an oversight.   I have a stable life and home with a good job of nearly 6yrs with plans of retiring from there.  Thank you for your thoughtful consideration.'],
      dtype=object)

### Inspect 'title' column and change 'title'¬†column to categorical data type if needed

In [358]:
print(accepted_df_copy['title'].info())

<class 'pandas.core.series.Series'>
Index: 2260668 entries, 0 to 2260698
Series name: title
Non-Null Count    Dtype
--------------    -----
2260668 non-null  object
dtypes: object(1)
memory usage: 99.0+ MB
None

In [359]:
print(accepted_df_copy['title'].describe())

count                2260668
unique                 63155
top       Debt consolidation
freq                 1153293
Name: title, dtype: object

In [365]:
#Convert 'title' to categorical columns

#Strip white space before conversion
accepted_df_copy['title'] = accepted_df_copy['title'].str.strip()

#convert to categorical variable
accepted_df_copy['title'] = accepted_df_copy['title'].astype('category')

#show categories
print(accepted_df_copy['title'].cat.categories)

Index(['"CCC"',
       '"Discover" ing I no longer want to "Chase" after my own tail.',
       '"For those that said i couldn't"', '"Freedom!"',
       '"Funeral Expenses Loan', '"Get Out of Debt"',
       '"Get out of Debt" Consolidation Loan',
       '"Getting ahead on my debt" loan',
       '"Getting over the hump" debt consolidatn', '"Good Loan"',
       ...
       'zero dept', 'zero interest', 'zerodebt', 'zeusamoose', 'zipcar',
       'zonball Loan', 'zxcvb', '~Life Reorganization~', '~Summer Fun~',
       '√Æ¬Å¬ó√Æ¬Å¬óMY FIRST CAR √Æ¬Å¬ó√Æ¬Å¬ó'],
      dtype='object', length=61456)

In [371]:
#Rename 'title' columns to 'loan_title'
accepted_df_copy = accepted_df_copy.rename(columns = {'title': 'loan_title'})

#Check name of the columns
print(accepted_df_copy['loan_title'].head())

0    Debt consolidation
1              Business
2               unknown
3    Debt consolidation
4        Major purchase
Name: loan_title, dtype: category
Categories (61456, object): ['"CCC"', '"Discover" ing I no longer want to "Chase" after my own tail.', '"For those that said i couldn't"', '"Freedom!"', ..., 'zxcvb', '~Life Reorganization~', '~Summer Fun~', '√Æ¬Å¬ó√Æ¬Å¬óMY FIRST CAR √Æ¬Å¬ó√Æ¬Å¬ó']

### Inspect 'zip_code' column and chnage to categorical variable if necessary

In [373]:
print(accepted_df_copy['zip_code'].head(10))

0    190xx
1    577xx
2    605xx
3    076xx
4    174xx
5    300xx
6    550xx
7    293xx
8    160xx
9    029xx
Name: zip_code, dtype: object

Seems like a portion of the zip_code was altered to preserve privacy of the user.

We will be just extracting the first 3 digits in another column called 'zip_prefix'

In [381]:
#Extract first 3 digits of the zip code
accepted_df_copy['zip_prefix'] = accepted_df_copy['zip_code'].str[:3]

#Check if first 3 digits seem to be extracted correctly
print(accepted_df_copy['zip_prefix'].head())

0    190
1    577
2    605
3    076
4    174
Name: zip_prefix, dtype: object

In [382]:
#Check if there is any x's in the extracted zip code
contains_x = accepted_df_copy['zip_prefix'].str.contains('x')

#count rows where 'x' is present
print(contains_x.sum())

0

In [380]:
accepted_df_copy['zip_prefix'].info()

count     2260667
unique        956
top           112
freq        23908
Name: zip_prefix, dtype: object

There are 956 unique zip_code prefixes so we can turn zip_prefix into a categorical variable

In [384]:
# Change zip_prefix to categorical variable

accepted_df_copy['zip_prefix'] = accepted_df_copy['zip_prefix'].astype('category')

#Check if we have 956 categories
print(accepted_df_copy['zip_prefix'].cat.categories)

Index(['007', '008', '009', '010', '011', '012', '013', '014', '015', '016',
       ...
       '990', '991', '992', '993', '994', '995', '996', '997', '998', '999'],
      dtype='object', length=956)