In [92]:
import pandas as pd

#Convert accepted_loans data to Panda DataFrame
accepted_df = pd.read_csv("/Users/abubakaral-faki/Documents/Data Project/MPV1/data/raw/accepted_2007_to_2018Q4.csv")

/var/folders/yj/v54tzbn14gb70ts6s0j5s3xm0000gn/T/ipykernel_17159/3863113262.py:4: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  accepted_df = pd.read_csv("/Users/abubakaral-faki/Documents/Data Project/MPV1/data/raw/accepted_2007_to_2018Q4.csv")

In [93]:
#create a copy of data frame to work with temporarily before applying changes to original 'accepted_df' DataFrame
accepted_df_copy = pd.DataFrame(accepted_df)

print(accepted_df_copy.head())

         id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  68407277        NaN     3600.0       3600.0           3600.0   36 months
1  68355089        NaN    24700.0      24700.0          24700.0   36 months
2  68341763        NaN    20000.0      20000.0          20000.0   60 months
3  66310712        NaN    35000.0      35000.0          35000.0   60 months
4  68476807        NaN    10400.0      10400.0          10400.0   60 months

   int_rate  installment grade sub_grade  ... hardship_payoff_balance_amount  \
0     13.99       123.03     C        C4  ...                            NaN
1     11.99       820.28     C        C1  ...                            NaN
2     10.78       432.66     B        B4  ...                            NaN
3     14.85       829.90     C        C5  ...                            NaN
4     22.45       289.91     F        F1  ...                            NaN

  hardship_last_payment_amount disbursement_method  debt_settlement_flag  \
0                          NaN                Cash                     N
1                          NaN                Cash                     N
2                          NaN                Cash                     N
3                          NaN                Cash                     N
4                          NaN                Cash                     N

  debt_settlement_flag_date settlement_status settlement_date  \
0                       NaN               NaN             NaN
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

  settlement_amount settlement_percentage settlement_term
0               NaN                   NaN             NaN
1               NaN                   NaN             NaN
2               NaN                   NaN             NaN
3               NaN                   NaN             NaN
4               NaN                   NaN             NaN

[5 rows x 151 columns]

In [94]:
# Created data sample to open inn excel

#output_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/accepted_df_copy.csv'

#accepted_df_copy.head(10000).to_csv(output_path, index = False)

### Create a CSV of each column and it's datatype

In [95]:
# Get data types of each variable
variable_data_types_df = accepted_df.dtypes.reset_index()

# Rename columns
variable_data_types_df.columns = ['Variables', 'Data Type']
print(variable_data_types_df)

#Save as csv
try:
    file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/variables_data_type.csv'
    
    variable_data_types_df.to_csv(file_path, index = False)
    print("Successfully saved variable_data_types_df as a csv.")

except Exception as e:
    print(e)

                 Variables Data Type
0                       id    object
1                member_id   float64
2                loan_amnt   float64
3              funded_amnt   float64
4          funded_amnt_inv   float64
..                     ...       ...
146      settlement_status    object
147        settlement_date    object
148      settlement_amount   float64
149  settlement_percentage   float64
150        settlement_term   float64

[151 rows x 2 columns]
Successfully saved variable_data_types_df as a csv.

## Convert Date columns to Date Data Types

In [96]:
# Convert Date_columns to Date Data types
date_columns = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d',
                'last_credit_pull_d', 'sec_app_earliest_cr_line', 'hardship_start_date',
                'hardship_end_date', 'payment_plan_start_date', 'debt_settlement_flag_date', 'settlement_date']

print(len(date_columns))

11

In [97]:
# Check format of date before converting to date objects

# We use dropna to drop all missing values in a columns because sometimes the first few rows have missing values

accepted_df.settlement_date.dropna().head() # Date format "%b-$Y"

68     Sep-2017
99     Nov-2017
105    Jan-2018
143    May-2018
144    Sep-2017
Name: settlement_date, dtype: object

## Check if all dates in each column for the same format

In [98]:
# Function to check format of dat columns
def validate_date_format(series, date_format = '%b-%Y'):
    try:
        pd.to_datetime(series, format = date_format, errors = 'raise')
        return True
    except ValueError:
        return False
    
#Check all columns
validation_results = {col: validate_date_format(accepted_df[col]) for col in date_columns}

# Display results of validate_results

for column, is_valid in validation_results.items():
    print(f"Column '{column}' follows format '%b-%Y': {is_valid}")

Column 'issue_d' follows format '%b-%Y': True
Column 'earliest_cr_line' follows format '%b-%Y': True
Column 'last_pymnt_d' follows format '%b-%Y': True
Column 'next_pymnt_d' follows format '%b-%Y': True
Column 'last_credit_pull_d' follows format '%b-%Y': True
Column 'sec_app_earliest_cr_line' follows format '%b-%Y': True
Column 'hardship_start_date' follows format '%b-%Y': True
Column 'hardship_end_date' follows format '%b-%Y': True
Column 'payment_plan_start_date' follows format '%b-%Y': True
Column 'debt_settlement_flag_date' follows format '%b-%Y': True
Column 'settlement_date' follows format '%b-%Y': True

## Convert all date_columns to datetime64

In [99]:
# Specify the correct format: %b for abbreviated month name, %Y for 4-digit year
date_format = "%b-%Y"

# Convert date columns efficiently using the specified format
accepted_df_copy[date_columns] = accepted_df_copy[date_columns].apply(lambda col: pd.to_datetime(col,format =  date_format, errors = 'coerce'))

print(accepted_df_copy.issue_d.head())

0   2015-12-01
1   2015-12-01
2   2015-12-01
3   2015-12-01
4   2015-12-01
Name: issue_d, dtype: datetime64[ns]

In [100]:
# Check if all date columns are in date format
accepted_df_copy[date_columns].dtypes

issue_d                      datetime64[ns]
earliest_cr_line             datetime64[ns]
last_pymnt_d                 datetime64[ns]
next_pymnt_d                 datetime64[ns]
last_credit_pull_d           datetime64[ns]
sec_app_earliest_cr_line     datetime64[ns]
hardship_start_date          datetime64[ns]
hardship_end_date            datetime64[ns]
payment_plan_start_date      datetime64[ns]
debt_settlement_flag_date    datetime64[ns]
settlement_date              datetime64[ns]
dtype: object

In [101]:
# Check format of date columns
print(accepted_df_copy.settlement_date.dropna().head())

68    2017-09-01
99    2017-11-01
105   2018-01-01
143   2018-05-01
144   2017-09-01
Name: settlement_date, dtype: datetime64[ns]

## Convert categorical columns to 'category' type

In [102]:
# Convert Categorical columns to category

categorical_columns = ['term', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
                       'verification_status', 'loan_status', 'pymnt_plan', 'purpose'
                       ,'addr_state', 'initial_list_status', 'application_type',
                       'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status',
                       'hardship_loan_status', 'disbursement_method', 'debt_settlement_flag',
                       'settlement_status']

accepted_df_copy[categorical_columns] = accepted_df_copy[categorical_columns].apply(lambda col: col.astype('category'))

In [103]:
# Check if categorical columns are of categorical data type

accepted_df_copy[categorical_columns].dtypes

term                    category
grade                   category
sub_grade               category
emp_length              category
home_ownership          category
verification_status     category
loan_status             category
pymnt_plan              category
purpose                 category
addr_state              category
initial_list_status     category
application_type        category
hardship_flag           category
hardship_type           category
hardship_reason         category
hardship_status         category
hardship_loan_status    category
disbursement_method     category
debt_settlement_flag    category
settlement_status       category
dtype: object

In [104]:
# the title column will require some cleaning because the categories appear in a messiy format so I am converting 
# back to a string

'''
['\tcredit_card', '\tdebt_consolidation', '\thouse', '\tother', ..., 'zxcvb', '~Life Reorganization~', 
'~Summer Fun~', 'îîMY FIRST CAR îî']

'''

accepted_df_copy['title']

0          Debt consolidation
1                    Business
2                         NaN
3          Debt consolidation
4              Major purchase
                  ...
2260696                   NaN
2260697    Debt consolidation
2260698                   NaN
2260699                   NaN
2260700                   NaN
Name: title, Length: 2260701, dtype: object

### Convert 'id' column to int

In [105]:
#Convert the id column to int

#check if 'id' column has any missing values
print(accepted_df_copy['id'].describe())

#convert id column from objext(text) to int

'''This code below didn't work because there is a row that is a string representing this value;
 'Total amount funded in policy code 1: 6417608175'
'''

# accepted_df_copy['id'] = accepted_df_copy['id'].astype(int)

count      2260701
unique     2260701
top       68407277
freq             1
Name: id, dtype: int64

"This code below didn't work because there is a row that is a string representing this value;\n 'Total amount funded in policy code 1: 6417608175'\n"

In [106]:
# find problematic row in 'id' column stopping it from being an int column
problematic_row = accepted_df_copy[accepted_df_copy['id'] == 'Total amount funded in policy code 1: 6417608175'].index

# Remove problematics row
accepted_df_copy = accepted_df_copy.drop(index = problematic_row[0])

In [107]:
# identify all rows in 'id' column that are not of type int

non_int_rows = accepted_df_copy[~accepted_df_copy['id'].apply(lambda x: str(x).isdigit())] #33 rows

print(len(non_int_rows['id']), 'non-int rows identified')
print('\n')
print(non_int_rows['id'])

32 non-int rows identified


421096     Total amount funded in policy code 2: 1944088810
528961     Total amount funded in policy code 1: 1741781700
528962      Total amount funded in policy code 2: 564202131
651664     Total amount funded in policy code 1: 1791201400
651665      Total amount funded in policy code 2: 651669342
749520     Total amount funded in policy code 1: 1443412975
749521      Total amount funded in policy code 2: 511988838
877716     Total amount funded in policy code 1: 2063142975
877717      Total amount funded in policy code 2: 823319310
983169     Total amount funded in policy code 1: 1538432075
983170      Total amount funded in policy code 2: 608903141
1117058    Total amount funded in policy code 1: 2087217200
1117059     Total amount funded in policy code 2: 662815446
1352689    Total amount funded in policy code 1: 3503840175
1352690     Total amount funded in policy code 2: 873652739
1481103    Total amount funded in policy code 1: 2050909275
1481104     Total amount funded in policy code 2: 820109297
1611877    Total amount funded in policy code 1: 2080429200
1611878     Total amount funded in policy code 2: 737901574
1651665            Loans that do not meet the credit policy
1654415     Total amount funded in policy code 1: 460296150
1654416             Total amount funded in policy code 2: 0
1751196    Total amount funded in policy code 1: 1437969475
1751197     Total amount funded in policy code 2: 520780182
1939379    Total amount funded in policy code 1: 2700702175
1939380      Total amount funded in policy code 2: 81866225
2038501    Total amount funded in policy code 1: 1404586950
2038502     Total amount funded in policy code 2: 567447023
2157151    Total amount funded in policy code 1: 1817354125
2157152     Total amount funded in policy code 2: 620899600
2260699    Total amount funded in policy code 1: 1465324575
2260700     Total amount funded in policy code 2: 521953170
Name: id, dtype: object

In [108]:
# check if all columns associated with the non_int_rows in 'id' column are empty

col_not_empty = non_int_rows.drop(columns=['id']).isna().all(axis=1)

if (col_not_empty.all() == True):
    print('All columns associated with non-int rows in \'id\' columns are empty')
else:
    print('All columns associated with non-int rows in \'id\' columns are\'nt empty')

All columns associated with non-int rows in 'id' columns are empty

In [109]:
# Drop all non-int rows in id column

#Get shape of accepted_df Dataframe before dropping rows
print('accepted_df shape before removing rows:', accepted_df_copy.shape)


# Step 1 - Get index of non-int rows in 'id' column to drop
nonint_rows_todrop = non_int_rows.index

print()
print(nonint_rows_todrop)
print(len(nonint_rows_todrop), 'rows to remove\n\n')

# Step 2 - remove non-int rows in 'id' column from accepted_df_copy

accepted_df_copy = accepted_df_copy.drop(index = nonint_rows_todrop)
print(len(nonint_rows_todrop), 'successfully dropped\n\n')

# Step 3 - Check accepted_df shape to confirm if 32 rows were dropped

print('accepted_df shape after removing rows:', accepted_df_copy.shape)

accepted_df shape before removing rows: (2260700, 151)

Index([ 421096,  528961,  528962,  651664,  651665,  749520,  749521,  877716,
        877717,  983169,  983170, 1117058, 1117059, 1352689, 1352690, 1481103,
       1481104, 1611877, 1611878, 1651665, 1654415, 1654416, 1751196, 1751197,
       1939379, 1939380, 2038501, 2038502, 2157151, 2157152, 2260699, 2260700],
      dtype='int64')
32 rows to remove


32 successfully dropped


accepted_df shape after removing rows: (2260668, 151)

In [110]:
# Check if we still have non-int rows in 'id' column

accepted_df_copy[~accepted_df_copy['id'].apply(lambda row: str(row).isdigit())] #Should return an empty DF

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, ...]
Index: []

[0 rows x 151 columns]

In [111]:
# Soooo now we can finally Convert 'id' column to integer
accepted_df_copy['id'] = accepted_df_copy['id'].astype(int)

In [112]:
accepted_df_copy['id'].info()

<class 'pandas.core.series.Series'>
Index: 2260668 entries, 0 to 2260698
Series name: id
Non-Null Count    Dtype
--------------    -----
2260668 non-null  int64
dtypes: int64(1)
memory usage: 34.5 MB

### Check for other variables of type 'object' so we can convert to the right type if necessary

In [113]:
#Get data types of all variables and convert it to a DataFrame
new_data_types = pd.DataFrame(accepted_df_copy.dtypes)

# Reset index of Dataframe
new_data_types = new_data_types.reset_index()

#define column names
new_data_types.columns = ['variable', 'type']

#Get variables that are type 'object'
object_vars = new_data_types[new_data_types['type'] == 'object']

#Get all types
#new_data_types['type'] = new_data_types['type'].astype('category')

print(object_vars)

                     variable    type
10                  emp_title  object
18                        url  object
19                       desc  object
21                      title  object
22                   zip_code  object
59  verification_status_joint  object

In [114]:
#print(new_data_types['type'].cat.categories)

## Cleaning emp_title column

Convert emp_title to categorical variable and remove leading whitespaces from category names

In [115]:
# Convert emp_title to category or leave as oject
accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].astype('category')

#Check type of emp_title
accepted_df_copy['emp_title'].cat.categories

Index(['\tCFO', '\tMultimedia Supervisor', '\tSlot technician',
       '\tVP - Operations', ' ', ' \tASR II', ' \tAdv Mtr Proj Fld Rep',
       ' \tAuto Body Repair', ' \tDriver', ' \tEmployee Strategies Manager',
       ...
       'zueck transportation', 'zulily', '{Owner}Truck Driver',
       '| Principal Business Solution Architect|',
       'År.  Technical Illustrator', '​Associate Tech Support Analyst',
       '​Financial Analyst', '​License Compliance Investigator',
       '​Senior IT Field Support', '👨‍🍳 '],
      dtype='object', length=512694)

In [116]:
#Export Categories to CSV file for manual check

file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/emp_title_categories.csv'

categories = accepted_df_copy['emp_title'].cat.categories

pd.DataFrame({'job_titles': categories}).to_csv(file_path, index = False)

From a quick overview of the CSV file I saw:

1.) numbers as job_titles
2.) job titles containing emojis
3.) duplicate Job_titles with spelling or formating differences
4.) text like this 'ÄãFinancial Analyst'
5.) Leading white spaces represented by '\t'

In [117]:
# Convert 'emp_title' back to Object in Panadas

accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].astype(str)

In [118]:
# Remove Leadning White spaces
accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].str.strip()

print(accepted_df_copy['emp_title'].head(10))

0                                    leadman
1                                   Engineer
2                               truck driver
3                Information Systems Officer
4                        Contract Specialist
5                       Veterinary Tecnician
6    Vice President of Recruiting Operations
7                                road driver
8                            SERVICE MANAGER
9                             Vendor liaison
Name: emp_title, dtype: object

In [119]:
accepted_df_copy['emp_title'].dtype

dtype('O')

In [120]:
accepted_df_copy['emp_title'].info()

<class 'pandas.core.series.Series'>
Index: 2260668 entries, 0 to 2260698
Series name: emp_title
Non-Null Count    Dtype
--------------    -----
2260668 non-null  object
dtypes: object(1)
memory usage: 34.5+ MB

In [121]:
accepted_df_copy['emp_title'].value_counts()[:20]

emp_title
nan                   166969
Teacher                40969
Manager                37014
Owner                  23556
Supervisor             17686
Registered Nurse       17027
Driver                 16039
RN                     15202
Sales                  14173
Project Manager        11545
Office Manager         10367
General Manager         9917
Director                9864
owner                   8717
President               8384
Engineer                7745
manager                 7323
teacher                 6840
Vice President          6831
Operations Manager      6610
Name: count, dtype: int64

In [122]:
# Check for number of missing values in 'emp_title'
accepted_df_copy['emp_title'].isna().sum()

0

In [124]:
# Fill in 'nan' with 'NaN'

accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].replace([pd.NA], 'nan')

In [125]:
# Check Number of missing values in 'emp_title' after replace 'nan' string with NaN
accepted_df_copy['emp_title'].isna().sum()

0

In [126]:
print(type(categories))

<class 'pandas.core.indexes.base.Index'>

### Removing numbers that are job titles

In [127]:
#all job_titles as numbers in emp_title

number_job_titles = [title for title in categories if str(title).isdigit() == True]

print(number_job_titles)

print('\nThere are ', len(number_job_titles), 'job titles as numbers')

['0132', '03', '0301', '0321', '04', '1', '10', '1052', '1099', '11', '112', '12', '121000', '13', '14', '1400', '14000', '15', '15000', '16', '17', '1811', '19', '2', '20', '21', '22', '25', '25312', '3', '30', '30005', '30304', '36000', '37', '38645', '4', '45000', '48000', '5', '553742017', '59106', '6', '6048', '7', '8', '9', '911', '9652651']

There are  49 job titles as numbers

In [128]:
#Check frequency of numeric Job_title to check if they are important

numeric_titles = accepted_df_copy[accepted_df_copy['emp_title'].str.isdigit()]

print(numeric_titles['emp_title'].value_counts())

emp_title
1            13
3            12
8             9
5             8
12            7
10            7
11            6
4             4
2             4
911           4
20            3
15            3
14            3
6             3
21            2
17            2
112           2
16            2
7             1
1052          1
0132          1
04            1
25312         1
30304         1
1811          1
9652651       1
30            1
553742017     1
121000        1
1400          1
36000         1
37            1
1099          1
30005         1
59106         1
03            1
38645         1
19            1
6153          1
15000         1
9             1
25            1
45000         1
48000         1
0321          1
22            1
14000         1
6048          1
0301          1
13            1
Name: count, dtype: int64

In [129]:
#Remove numeric titles expect for 911 and 112 as those are emergency numbers

import re
keep_titles = ['911', '112']


def remove_numeric_job_tiles(title):
    
    if pd.isna(title): #Handle Missing Values to avoid errors
        return False
    
    #Covert title to string
    title_str = str(title).strip()
    
    # Check if record is '911' or '112'
    if title_str in keep_titles:
        return True
    
    # Check job titles that have numbers in them e.g. '2nd pressman'
    if re.search(r'\d+', title_str) and not title_str.isdigit():
        return True 
    
    return not title_str.isdigit()


# Apply remove_numeric_job_tiles function
accepted_df_copy = accepted_df_copy[accepted_df_copy['emp_title'].apply(remove_numeric_job_tiles)]

In [130]:
#Check if we only have 6 numeric titles  
# - Recall we had six '911'titles and two '112' titles

print(accepted_df_copy['emp_title'][accepted_df_copy['emp_title'].str.isdigit() == True])

16225      911
116912     112
755033     911
900893     911
1465253    112
1696755    911
Name: emp_title, dtype: object

In [131]:
#Normalize Titles

#Make a copy of the orginal dataframe using 'accepted_df.copy' to avoid editing parent DF'
accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].str.lower()

In [132]:
accepted_df_copy['emp_title'].value_counts().head(100)

emp_title
nan                 166969
teacher              48460
manager              45852
owner                33591
registered nurse     23354
                     ...
flight attendant      2048
loan officer          2024
underwriter           2015
sales rep             2003
bus driver            2002
Name: count, Length: 100, dtype: int64

## Identify duplicate Job titles in 'emp_title' columns using Fuzzy Matching Algorithm

In [133]:
import json
from rapidfuzz import fuzz, process
from tqdm import tqdm

def find_similar_titles_sorted(df, column_name, chunk_size=1000, similarity_threshold=90):
    """
    Identify job titles that are similar but contain spelling errors using sorted sampling.

    Args:
        df (pd.DataFrame): The DataFrame containing the dataset.
        column_name (str): The column containing job titles to analyze.
        chunk_size (int): The size of chunks to process for analysis.
        similarity_threshold (int): The threshold for considering titles as similar.

    Returns:
        dict: A dictionary of similar job titles.
    """
    # Get unique job titles and sort them alphabetically
    unique_titles = sorted(df[column_name].unique())

    # Split the sorted titles into chunks
    title_chunks = [unique_titles[i:i + chunk_size] for i in range(0, len(unique_titles), chunk_size)]

    # Initialize a single progress bar for all chunks
    total_titles = len(unique_titles)
    similar_titles = {}
    with tqdm(total=total_titles, desc="Processing Titles") as pbar:
        for chunk in title_chunks:
            for title in chunk:
                matches = process.extract(title, chunk, scorer=fuzz.ratio, limit=5)
                similar_titles[title] = [match[0] for match in matches if match[1] >= similarity_threshold and match[0] != title]
                pbar.update(1)

    # Filter out job titles with no close matches
    similar_titles = {key: value for key, value in similar_titles.items() if value}

    return similar_titles

# Example usage
similar_titles = find_similar_titles_sorted(accepted_df_copy, 'emp_title', chunk_size=1000, similarity_threshold=90)
with open('/Users/abubakaral-faki/Documents/similar_titles_sorted.json', 'w') as f:
     json.dump(similar_titles, f)

Processing Titles: 100%|██████████████| 411763/411763 [00:43<00:00, 9389.83it/s]

In [134]:
# Display the results
for title, matches in similar_titles.items():
    print(f"'{title}' is similar to: {matches}")

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [135]:
accepted_df_copy['emp_title'].value_counts()[:50]

emp_title
nan                         166969
teacher                      48460
manager                      45852
owner                        33591
registered nurse             23354
supervisor                   22306
driver                       22267
sales                        18984
rn                           17196
office manager               14231
project manager              13842
general manager              13317
truck driver                 12797
director                     10595
president                     9826
engineer                      8978
sales manager                 8532
operations manager            8183
police officer                7675
vice president                7625
technician                    7437
nurse                         7358
store manager                 7265
administrative assistant      7213
accountant                    6891
mechanic                      6548
attorney                      6375
account manager               6285
assistant manager             6027
server                        5764
executive assistant           5186
customer service              5106
analyst                       5009
electrician                   4965
foreman                       4740
branch manager                4636
paralegal                     4549
operator                      4482
software engineer             4314
machine operator              4243
maintenance                   4115
consultant                    3899
program manager               3891
ceo                           3818
controller                    3774
clerk                         3747
superintendent                3679
administrator                 3615
account executive             3423
principal                     3283
Name: count, dtype: int64

In [136]:
import json

# Define the file path
file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/similar_titles.json'

# Save the similar titles to the JSON file
with open(file_path, 'w') as file:
    json.dump(similar_titles, file, indent=4)

print(f"Similar titles saved to '{file_path}'")

Similar titles saved to '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/similar_titles.json'

In [137]:
# Convert emp_title back to object type so we can remove \t
accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].astype(str)

# Remove white spaces
accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].str.strip()

# Convert 'emp_title' column to category type
accepted_df_copy['emp_title'] = accepted_df_copy['emp_title'].astype('category')

# Category types
categories = accepted_df_copy['emp_title'].cat.categories

#Save as csv

file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/emp_title_categories.csv'

pd.DataFrame({'job_titles':categories}).to_csv(file_path, index = False)

### Change 'url' column to the right datatype or drop it if not needed

In [138]:
#Inspect url Column
pd.set_option('display.max_colwidth', None) #make sure pandas doesn't truncate the url column


accepted_df_copy[['id', 'url']].head(5)

         id                                                                url
0  68407277  https://lendingclub.com/browse/loanDetail.action?loan_id=68407277
1  68355089  https://lendingclub.com/browse/loanDetail.action?loan_id=68355089
2  68341763  https://lendingclub.com/browse/loanDetail.action?loan_id=68341763
3  66310712  https://lendingclub.com/browse/loanDetail.action?loan_id=66310712
4  68476807  https://lendingclub.com/browse/loanDetail.action?loan_id=68476807

Seems like the 'url' gets info for each specific 'id'. 

Let's check if the id from the id column matches the id in
in the url

In [139]:
# Extract the loan_id from the url using a regular expression
extracted_id = accepted_df_copy['url'].str.extract(r'loan_id=(\d+)')

In [140]:
#Check if the id was extracted correctly from the url
print(extracted_id.head())

# Check type of extracted_id
print(type(extracted_id[0]))

          0
0  68407277
1  68355089
2  68341763
3  66310712
4  68476807
<class 'pandas.core.series.Series'>

#### Convert extracted_id to same datatype as 'id'

In [141]:
#Check dtype of id column
print('Type of \'id\' column is', accepted_df_copy['id'].dtype)

#Change dtype of extracted_id columns to 'int'
extracted_id[0] = extracted_id[0].astype('int')

#Check dtype of extracted_id column
print('Type of \'extracted_id\' is', extracted_id[0].dtype)

Type of 'id' column is int64
Type of 'extracted_id' is int64

In [142]:
#Check if all id's between 'extracted_id' column and 'id' column match

all_match = (accepted_df_copy['id'] == extracted_id[0]).all()

print(all_match)

True

#### We can drop url column since there no mismatches

In [143]:
# Shape before dropping 'url'
print('Shape before drop: ', accepted_df_copy.shape)

Shape before drop:  (2260548, 151)

In [144]:
# Drop 'url' column
accepted_df_copy = accepted_df_copy.drop('url', axis = 1)

In [145]:
# Shape after dropping 'url'
print('Shape after drop: ', accepted_df_copy.shape)

Shape after drop:  (2260548, 150)

### Inspect 'desc' column and change 'desc' column to the right datatype if needed

'desc' contains information about the loan description wriiten by the borrower.

In [146]:
print(accepted_df_copy['desc'].head())

print(accepted_df_copy['desc'].dtype)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: desc, dtype: object
object

#### Notes from code above
From checking the data type of 'desc' and the first few rows it seems this column might be empty.

'desc' contains information about the loan description form the borrower.

We will rename this column to make it more intuitive to understand.

In [147]:
#Check if all values in the 'desc' column are all NaN

print(accepted_df_copy['desc'].info())

<class 'pandas.core.series.Series'>
Index: 2260548 entries, 0 to 2260698
Series name: desc
Non-Null Count   Dtype
--------------   -----
126059 non-null  object
dtypes: object(1)
memory usage: 34.5+ MB
None

In [148]:
#count nuber of Null Values in 'desc' column

print(accepted_df_copy['desc'].isna().sum())

2134489

In [149]:
#Change name of column 'desc' to 'loan_purpose'
accepted_df_copy = accepted_df_copy.rename(columns = {'desc': 'loan_purpose'})

In [150]:
#Check if name change happened

accepted_df_copy['loan_purpose'].info()

<class 'pandas.core.series.Series'>
Index: 2260548 entries, 0 to 2260698
Series name: loan_purpose
Non-Null Count   Dtype
--------------   -----
126059 non-null  object
dtypes: object(1)
memory usage: 34.5+ MB

In [151]:
#Check for missing values in 'desc'/'loan_purpose'
print(accepted_df_copy['loan_purpose'].isna().sum())

2134489

In [152]:
accepted_df_copy['loan_purpose'].unique()

array([nan,
       'We knew that using our credit cards to finance an adoption would squeeze us, but then medical and other unexpected expenses made the situation almost impossible. We are a stable family in a stable community. We just need to break a cycle of debt that is getting worse.',
       "I had a bad year two years ago, with some late and missed payments. I'm doing much better now, but I've got fees and some higher interest bits that have added up on top of the other stuff, and it's a little crazy. I'm hoping doing it thru Lending Club will make it easier - and cheaper - to pay off.",
       ...,
       'This loan will be used solely to consolidate credit card debts accrued while wife was/is unemployed.',
       'I have recently purchased and built a new home that I have always dreamed of having.  I would like to complete the project by putting a hottub in my backyard, however; I am not happy with the rate I  have been offered from GE to finance the spa.  I am paying cash for all other improvements, but this is the final phase and finishing touch to my happiness.  I am in the process of consolidating a lot of debt, and went through a minor period of financial woes, but through determination and hard work I have managed to rebound.  My income is fantastic, and I would pay cash for the item, but would like to reserve the money I have saved for future issues if they should arise.  I am a college graduate, responsible, and work for a very good company that is stable in this very unstable market.  I plan to repay this loan in less than 12 months with a 4th quarter bonus I will be receiving.  Thank you for your consideration.',
       'To whom it may concern,     Hello, my name is David McLean.  I am requesting a loan to consolidate some high interest revolving credit.    The interest rates go anywhere from 14-29.9%.  I am a very reliable person that meets his obligations and pays his debts.   In nearly 15 years, I have not missed or been late on a payment except once due to an oversight.   I have a stable life and home with a good job of nearly 6yrs with plans of retiring from there.  Thank you for your thoughtful consideration.'],
      dtype=object)

In [155]:
# Save a Version of the dataset with all columns cleaned except 'title' and 'employee'
file_path = "/Users/abubakaral-faki/Documents/Data Project/MPV1/data/interim/v1-accepeed.csv"

accepted_df_copy.to_csv(file_path, index = False)

### Inspect 'title' column and change 'title' column to categorical data type if needed

In [1]:
import pandas as pd

accepted_df_v1 = pd.read_csv("/Users/abubakaral-faki/Documents/Data Project/MPV1/data/interim/v1-accepeed.csv")

/var/folders/yj/v54tzbn14gb70ts6s0j5s3xm0000gn/T/ipykernel_11949/640563226.py:3: DtypeWarning: Columns (18,48,58,117,128,129,130,133,134,135,138,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  accepted_df_v1 = pd.read_csv("/Users/abubakaral-faki/Documents/Data Project/MPV1/data/interim/v1-accepeed.csv")

In [2]:
accepted_df_v1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(accepted_df_v1['title'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 2260548 entries, 0 to 2260547
Series name: title
Non-Null Count    Dtype
--------------    -----
2237224 non-null  object
dtypes: object(1)
memory usage: 17.2+ MB
None

In [5]:
print(accepted_df_v1['title'].describe())

count                2237224
unique                 63150
top       Debt consolidation
freq                 1153227
Name: title, dtype: object

In [6]:
# Number of unique job titles before normalizing

accepted_df_v1['title'].unique()

array(['Debt consolidation', 'Business', nan, ..., 'takeitaway',
       'Creditt Card Loan', 'debt reduction/hone updates'], dtype=object)

Seems like we have duplicate titles. E.g. 'Debt consolidation' vs 'debt consolidation'

In [7]:
accepted_df_v1['emp_title'].unique()

array(['leadman', 'engineer', 'truck driver', ...,
       'group enviromental manager', 'sr. photo producer',
       'exec dir internal audit'], dtype=object)

In [8]:
accepted_df_v1['emp_title'].value_counts()

emp_title
teacher                                     48460
manager                                     45852
owner                                       33591
registered nurse                            23354
supervisor                                  22306
                                            ...
animal care tech 2                              1
food corriditor manger                          1
special worker                                  1
assistant vice president - mortgage comp        1
exec dir internal audit                         1
Name: count, Length: 411760, dtype: int64

In [9]:
accepted_df_v1[~accepted_df_v1['emp_title'].isna()]['emp_title']

0                              leadman
1                             engineer
2                         truck driver
3          information systems officer
4                  contract specialist
                      ...
2260543                  unit operator
2260544         database administrator
2260545                 vice president
2260546                program manager
2260547    customer service technician
Name: emp_title, Length: 2093574, dtype: object

In [10]:
# Save all job titles as csv for manual inspection

file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/loan_titles.csv'

accepted_df_v1['title'].value_counts().to_csv(file_path, index = True)

print('File successfully exported')

#accepted_df_copy.head(10000).to_csv(output_path, index = False)

File successfully exported

### Create function to normalize text

In [11]:
# Step 1: Normalize the titles

def normalize_text(text):
    if pd.isnull(text):  # Handle NaN or None
        return ""
    return str(text).lower().strip()
    
accepted_df_v1['title'] = accepted_df_v1['title'].apply(normalize_text)

In [12]:
# Number of unique job titles after normalizing

len(accepted_df_v1['title'].value_counts())

51789

In [13]:
print(accepted_df_v1['title'].head(20))

0          debt consolidation
1                    business
2
3          debt consolidation
4              major purchase
5          debt consolidation
6          debt consolidation
7              major purchase
8     credit card refinancing
9     credit card refinancing
10         debt consolidation
11         debt consolidation
12
13         debt consolidation
14         debt consolidation
15    credit card refinancing
16         debt consolidation
17         debt consolidation
18    credit card refinancing
19         debt consolidation
Name: title, dtype: object

Looks like we have missing values as string. We will replace 'nan' values with NaN

In [14]:
# Number of values equal to 'nan'

print(len(accepted_df_v1[accepted_df_v1['title'] =='nan']['title']))

0

In [15]:
# Number of Missing values before replacing 'nan' strings to NaN values

accepted_df_v1['title'].isna().sum()

0

In [16]:
# Replace 'nan' strings to NaN values

accepted_df_v1['title'] = accepted_df_v1['title'].replace([pd.NA,""], "nan")

In [17]:
# Number of Missing values before converting
accepted_df_v1['title'].isna().sum()

0

### Define Fuzz function to find filter rows for different kinds of loans

In [18]:
# Step 2: Find titles with the word 'consolidation' in it

from rapidfuzz import fuzz, process

def fuzzy_match_keyword(text, keyword  = 'consolidation', threshold = 75):
    
    if str(text).strip() == "" or pd.isna(text) or text is None:  # Ignore empty or invalid titles
        return False   # Skip missing or empty values
    
    # Compute fuzzy similarity
    return fuzz.partial_ratio(text, keyword) >= threshold

### Find loans used for consolidations

In [19]:
# Filter rows with loans titles matching "consolidation"

consolidation_rows = accepted_df_v1[accepted_df_v1['title'].apply(fuzzy_match_keyword)]

In [20]:
# Step 4 - Extract new titles

unique_consolidation_titles = consolidation_rows['title'].unique()

In [21]:
print("Titles Fuzzily Matching 'Consolidation':")
print(len(unique_consolidation_titles))

Titles Fuzzily Matching 'Consolidation':
7613

In [22]:
# Export titles fuzzily matching 'consolidation' for manual inspect to check performance of out algorithm

file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/consolidation_mathced_titles.csv'

pd.DataFrame(unique_consolidation_titles).to_csv(file_path, index = False)

print('Titles that fuzzily matching \'consolidation\' was succesfully exported')

Titles that fuzzily matching 'consolidation' was succesfully exported

## Create Column identify loans for consolidation loans

In [23]:
accepted_df_v1['consolidations'] = accepted_df_v1[accepted_df_v1['title'].apply(fuzzy_match_keyword)]['title']

In [24]:
accepted_df_v1['consolidations'].head()

0    debt consolidation
1                   NaN
2                   NaN
3    debt consolidation
4                   NaN
Name: consolidations, dtype: object

## Create column for refinancing loans

In [25]:
#Identify loans used for refinancing

refinancing_rows = accepted_df_v1[accepted_df_v1['title'].apply(lambda x: fuzzy_match_keyword(x, keyword ='refinance'))]

In [26]:
# Create column that identifies rows for refinancing

accepted_df_v1['refinancing'] = refinancing_rows['title']

In [27]:
# Check rows of 'refinancing' column to see if we get expected resulted

accepted_df_v1[~accepted_df_v1['refinancing'].isna()]['refinancing']

2                              nan
8          credit card refinancing
9          credit card refinancing
12                             nan
15         credit card refinancing
                    ...
2260527    credit card refinancing
2260534    credit card refinancing
2260542    credit card refinancing
2260545                        nan
2260547                        nan
Name: refinancing, Length: 522141, dtype: object

In [28]:
# Inspect the distribution of types of refiancing
accepted_df_v1['refinancing'].value_counts()[:10]

refinancing
credit card refinancing       470091
nan                            23324
car financing                  20553
credit card refinance           2539
refinance                        691
credit card refinance loan       320
cc refinance                     295
refi                             269
credit refinance                 223
refinance loan                   196
Name: count, dtype: int64

In [29]:
# Count number of missing values
accepted_df_v1['refinancing'].isna().sum()

1738407

In [30]:
# Count number of empty rows
accepted_df_v1[accepted_df_v1['refinancing'] == ""]['refinancing']

Series([], Name: refinancing, dtype: object)

## Business Loan column

In [31]:
# Identify business Loans

business_loans = accepted_df_v1[accepted_df_v1['title'].apply(lambda x: fuzzy_match_keyword(x, keyword  = 'business', threshold = 75))]

In [32]:
# Unique business loan titles

unique_business_titles = business_loans['title'].unique()

In [33]:
#Export Business Loan titles for amnual inspection to check performance of fuzz algorithm

file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/business_loans.csv'

pd.DataFrame(unique_business_titles).to_csv(file_path, index = False)

In [34]:
# Create column to identify business loans

accepted_df_v1['business_loans'] = business_loans['title']

## Home/buying loans column

In [35]:
# Identify loans used for housing

home_loans = accepted_df_v1[accepted_df_v1['title'].apply(lambda x: fuzzy_match_keyword(x, keyword  = 'home', threshold = 80))]

In [36]:
#create a list of unique housing loan titles

unique_home_loans = home_loans['title'].unique()

In [37]:
#Export housing Loan titles for manual inspection to check performance of fuzz algorithm

file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/unique_home_loans.csv'

pd.DataFrame(unique_home_loans).to_csv(file_path, index = False)

In [38]:
accepted_df_v1['home_loans'] = home_loans['title']

In [39]:
accepted_df_v1[~accepted_df_v1['home_loans'].isna()]['home_loans']

29         home improvement
38         home improvement
40              home buying
54              home buying
55         home improvement
                 ...
2260452    home improvement
2260521    home improvement
2260537    home improvement
2260540    home improvement
2260543    home improvement
Name: home_loans, Length: 159226, dtype: object

### Auto Loans column

In [40]:
# Identify auto loans with Fuzzy Maatching Algorithm

car_loans = accepted_df_v1[accepted_df_v1['title'].apply(lambda x: fuzzy_match_keyword(x, keyword  = 'auto', threshold = 80))]

In [41]:
#create a list of unique housing loan titles

unique_home_loans = car_loans['title'].unique()

In [42]:
# Inspect results of fuzzy matching Algorithm

unique_home_loans[:10]

array(['paying off higher interest cards & auto',
       'credit card/auto repair', 'consolidation and auto repair',
       'high interest auto loan payoff', 'auto loan', 'auto credit card',
       'consolidation auto amex', 'auto repair', 'auto payoff',
       'used auto loan'], dtype=object)

In [43]:
# Create a column to identify auto loans

accepted_df_v1['auto_loans'] = car_loans['title']

### Inspect 'zip_code' column and chnage to categorical variable if necessary

In [44]:
print(accepted_df_v1['zip_code'].head(10))

0    190xx
1    577xx
2    605xx
3    076xx
4    174xx
5    300xx
6    550xx
7    293xx
8    160xx
9    029xx
Name: zip_code, dtype: object

Seems like a portion of the zip_code was altered to preserve privacy of the user.

We will be just extracting the first 3 digits in another column called 'zip_prefix'

## Create new feature containing prefix of the zip_code

In [45]:
#Extract first 3 digits of the zip code
accepted_df_v1['zip_prefix'] = accepted_df_v1['zip_code'].str[:3]

#Check if first 3 digits seem to be extracted correctly
print(accepted_df_v1['zip_prefix'].head())

0    190
1    577
2    605
3    076
4    174
Name: zip_prefix, dtype: object

In [46]:
#Check if there is any x's in the extracted zip code
contains_x = accepted_df_v1['zip_prefix'].str.contains('x')

#count rows where 'x' is present
print(contains_x.sum())

0

In [47]:
accepted_df_v1['zip_prefix'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2260548 entries, 0 to 2260547
Series name: zip_prefix
Non-Null Count    Dtype
--------------    -----
2260547 non-null  object
dtypes: object(1)
memory usage: 17.2+ MB

There are 956 unique zip_code prefixes so we can turn zip_prefix into a categorical variable

In [48]:
# Change zip_prefix to categorical variable

accepted_df_v1['zip_prefix'] = accepted_df_v1['zip_prefix'].astype('category')

#Check if we have 956 categories
print(accepted_df_v1['zip_prefix'].cat.categories)

Index(['007', '008', '009', '010', '011', '012', '013', '014', '015', '016',
       ...
       '990', '991', '992', '993', '994', '995', '996', '997', '998', '999'],
      dtype='object', length=956)

## Investigate missing values

In [49]:
missing_values = accepted_df_v1.isna().sum()

In [50]:
missing_values

id                       0
member_id          2260548
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                    ...
refinancing        1738407
business_loans     2237020
home_loans         2101322
auto_loans         2259943
zip_prefix               1
Length: 156, dtype: int64

In [51]:
file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/temp_files/missing_values_in_columns.csv'

missing_values.to_csv(file_path, index = True)

In [52]:
accepted_df_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260548 entries, 0 to 2260547
Columns: 156 entries, id to zip_prefix
dtypes: category(1), float64(113), int64(1), object(41)
memory usage: 2.6+ GB

In [53]:
# Check for Duplicate Rows

print(accepted_df_v1.duplicated().sum())

0

## Export version 2 of dataframe

In [54]:
file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/data/interim/v2_accepted_loans.csv'

accepted_df_v1.to_csv(file_path, index = False)

In [55]:
# Load Version 2 of accepted loans dataset

accepted_df_v2 = pd.read_csv('/Users/abubakaral-faki/Documents/Data Project/MPV1/data/interim/v2_accepted_loans.csv')

/var/folders/yj/v54tzbn14gb70ts6s0j5s3xm0000gn/T/ipykernel_11949/523791690.py:3: DtypeWarning: Columns (18,48,58,117,128,129,130,133,134,135,138,144,145,146,154) have mixed types. Specify dtype option on import or set low_memory=False.
  accepted_df_v2 = pd.read_csv('/Users/abubakaral-faki/Documents/Data Project/MPV1/data/interim/v2_accepted_loans.csv')

In [56]:
accepted_df_v2.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_date,settlement_amount,settlement_percentage,settlement_term,consolidations,refinancing,business_loans,home_loans,auto_loans,zip_prefix
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,NaN,NaN,debt consolidation,NaN,NaN,NaN,NaN,190.0
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,business,NaN,NaN,577.0
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,605.0
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,NaN,NaN,debt consolidation,NaN,NaN,NaN,NaN,76.0
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174.0

In [58]:
# Drop member_id column 
# All values for memeber_id are missing

accepted_df_v2.drop('member_id', axis = 1, inplace = True)

print('member_id successfuly dropped')

member_id successfuly dropped

In [59]:
accepted_df_v2.isna().sum()

id                       0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
term                     0
                    ...
refinancing        1761731
business_loans     2237020
home_loans         2101322
auto_loans         2259943
zip_prefix               1
Length: 155, dtype: int64

In [61]:
accepted_df_v2[accepted_df_v2['zip_code'].isna()]

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,settlement_date,settlement_amount,settlement_percentage,settlement_term,consolidations,refinancing,business_loans,home_loans,auto_loans,zip_prefix
1735927,96387212,5600.0,5600.0,5600.0,36 months,15.99,196.86,C,C5,electrician,...,NaN,NaN,NaN,NaN,debt consolidation,NaN,NaN,NaN,NaN,NaN

In [65]:
accepted_df_v2['all_util']

0    34.0
1    29.0
2    65.0
3    45.0
4    78.0
5    76.0
6    74.0
7    55.0
8    46.0
9    49.0
Name: all_util, dtype: float64

## Export version 3 of dataframe

In [66]:
file_path = '/Users/abubakaral-faki/Documents/Data Project/MPV1/data/interim/v3_accepted_loans.csv'

accepted_df_v2.to_csv(file_path, index = False)