In [53]:
import pandas as pd

# Convert rejected loans csv to dataframe
rejected_loans_df = pd.read_csv('/Users/abubakaral-faki/Documents/Data Project/MPV1/data/raw/rejected_2007_to_2018Q4.csv')

## Explore dataset and variable data types

In [54]:
rejected_loans_df.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [55]:
# Check datatypes of all columns

columns = rejected_loans_df.columns #store all columns in an iterable

print(rejected_loans_df[columns].dtypes)

Amount Requested        float64
Application Date         object
Loan Title               object
Risk_Score              float64
Debt-To-Income Ratio     object
Zip Code                 object
State                    object
Employment Length        object
Policy Code             float64
dtype: object

## Rename column to 'snake_case' format

In [56]:
# make column names lower case and replace spaces with '_' (underscores)

rejected_loans_df.columns = rejected_loans_df.columns.str.lower().str.replace(' ', '_')

print(rejected_loans_df.columns)

Index(['amount_requested', 'application_date', 'loan_title', 'risk_score',
       'debt-to-income_ratio', 'zip_code', 'state', 'employment_length',
       'policy_code'],
      dtype='object')

In [57]:
#rename 'debt-to-income_ratio' to dti_ratio

rejected_loans_df.rename(columns = {'debt-to-income_ratio': 'dti_ratio'}, inplace = True)

print(rejected_loans_df.columns)

Index(['amount_requested', 'application_date', 'loan_title', 'risk_score',
       'dti_ratio', 'zip_code', 'state', 'employment_length', 'policy_code'],
      dtype='object')

In [58]:
# Convert application_date into date data type

date_format = '%Y-%m-%d'

rejected_loans_df['application_date'] = pd.to_datetime(rejected_loans_df['application_date'], format = date_format, errors = 'coerce')

In [59]:
# confirm datatype of all 'application_date'

print('Datatype of \'application_date\' column:', rejected_loans_df['application_date'].dtypes)

Datatype of 'application_date' column: datetime64[ns]

In [60]:
# Check for missing values in 'application_date column'

rejected_loans_df['application_date'].isna().sum()

0

No null values in application_date column

## Check for missing values all columns

In [61]:
missing_values = rejected_loans_df.isna().sum()

In [62]:
print(missing_values)

amount_requested            0
application_date            0
loan_title               1305
risk_score           18497630
dti_ratio                   0
zip_code                  293
state                      22
employment_length      951355
policy_code               918
dtype: int64

In [63]:
# Convert missing_values to Dataframe
missing_values_df = missing_values.to_frame(name = 'missing_count')

# Compute percentage of missing values in of a column
missing_values_df['percentage_missing'] = round((missing_values_df['missing_count']/rejected_loans_df.shape[0]) * 100,3)

# Show only columns that have missing values
print(missing_values_df[missing_values_df['missing_count'] != 0])

                   missing_count  percentage_missing
loan_title                  1305               0.005
risk_score              18497630              66.902
zip_code                     293               0.001
state                         22               0.000
employment_length         951355               3.441
policy_code                  918               0.003

we can see that risk_score has a 67% of its values missing which is significant compared to the whole datatset

In [64]:
rejected_loans_df['loan_title'].isna().sum()

1305

In [65]:
#Identify rows with missing values

rejected_loans_df[rejected_loans_df['loan_title'].isna()].head()

,amount_requested,application_date,loan_title,risk_score,dti_ratio,zip_code,state,employment_length,policy_code
13863,25000.0,2008-04-06,NaN,643.0,17.33%,681xx,NE,1 year,0.0
31073,15000.0,2009-01-03,NaN,511.0,12.92%,631xx,MO,5 years,0.0
31076,10000.0,2009-01-03,NaN,621.0,2.31%,631xx,MO,5 years,0.0
31976,5000.0,2009-01-12,NaN,626.0,9.06%,631xx,MO,1 year,0.0
31979,2000.0,2009-01-12,NaN,0.0,0%,631xx,MO,3 years,0.0

## Create new feature from zip_code column

The last 3 numbers in the zip_code column have been blanked out with 'xxx'.

I want to create a new variable named "zip_code_prefix" containing the first 3 letters and then converting it into a categorical variable.

In [66]:
# create a zip_code_prefix column to contain the first numbers of a zip_code

rejected_loans_df['zip_code_prefix'] = rejected_loans_df['zip_code'].str[:3]

print(rejected_loans_df['zip_code_prefix'].head())

0    481
1    010
2    212
3    017
4    209
Name: zip_code_prefix, dtype: object

In [67]:
# Check data type of 'zip_code_prefix'

print(rejected_loans_df['zip_code_prefix'].dtype)

object

In [68]:
# Check number if missing values of zip_code_prefix is the same as zip_code

print(rejected_loans_df['zip_code_prefix'].isna().sum() == rejected_loans_df['zip_code'].isna().sum())

True

In [69]:
# Explore rows of zip_code_prefix that have missing data

print(rejected_loans_df[rejected_loans_df['zip_code_prefix'].isna()].head())

       amount_requested application_date                  loan_title  \
10521            2000.0       2008-03-07  help credit cards problems
10553            7500.0       2008-03-07   Looking for better rates!
10572            7000.0       2008-03-07               PERSONAL LOAN
10578            7000.0       2008-03-07              Paying of debt
10588           15000.0       2008-03-07                Loan request

       risk_score dti_ratio zip_code state employment_length  policy_code  \
10521       673.0       -1%      NaN   NaN          < 1 year          0.0
10553       614.0       -1%      NaN   NaN          < 1 year          0.0
10572       612.0       -1%      NaN   NaN          < 1 year          0.0
10578       733.0       -1%      NaN   NaN          < 1 year          0.0
10588       672.0       -1%      NaN   NaN          < 1 year          0.0

      zip_code_prefix
10521             NaN
10553             NaN
10572             NaN
10578             NaN
10588             NaN

Looks like we have '-1%' dti_ratio (Debt to income ratio) for rows that have missing values in the zip_code_prefix columns

### Convert 'zip_code_prefix' into categorical variable

In [70]:
# Convert zip_code_prefix column in to categorical variable

rejected_loans_df['zip_code_prefix'] = rejected_loans_df['zip_code_prefix'].astype('category')

In [71]:
rejected_loans_df['zip_code_prefix'].describe()

count     27648448
unique        1001
top            112
freq        267102
Name: zip_code_prefix, dtype: object

In [72]:
print(rejected_loans_df['zip_code_prefix'].dtype)

category

In [73]:
#Number of zip code in the zip_code_prefix columns
print(len(rejected_loans_df['zip_code_prefix'].cat.categories))

1001

## Cleaning dti_ratio (Debt-to-Income Ratio)

The dti_ration column has percentage signs we need to remove to we can run mathematical operations such as mean, median, standare deviation etc.

In [74]:
# Exlore dti_ratio

rejected_loans_df['dti_ratio'].describe()

count     27648741
unique      126145
top           100%
freq       1362556
Name: dti_ratio, dtype: object

In [76]:
rejected_loans_df['dti_ratio'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 27648741 entries, 0 to 27648740
Series name: dti_ratio
Non-Null Count     Dtype
--------------     -----
27648741 non-null  object
dtypes: object(1)
memory usage: 210.9+ MB

### Remove percetage sign from dti_ratio

In [77]:
# Remoe percetage symbol(%) from sti_ratio

#rejected_loans_df['dti_ratio'] = rejected_loans_df['dti_ratio'].apply(lambda num: num[:len(num) - 2])

In [78]:
# Remoe percetage symbol(%) from sti_ratio

rejected_loans_df['dti_ratio'] = rejected_loans_df['dti_ratio'].str.replace('%','')

In [80]:
# Check is changes '%' were removed as expected

print(rejected_loans_df['dti_ratio'].head(100))

0        10
1        10
2        10
3     38.64
4      9.43
      ...
95     0.86
96    39.79
97     6.55
98      1.6
99     22.5
Name: dti_ratio, Length: 100, dtype: object

### Convert 'dti_ratio' to float

In [83]:
# convert dti_ratio to float

rejected_loans_df['dti_ratio'] = rejected_loans_df['dti_ratio'].astype('float')

In [85]:
# Confirm dti_ration was converted to float

print(rejected_loans_df['dti_ratio'].dtype)

float64

### Explore dti_ratio

In [87]:
rejected_loans_df['dti_ratio'].describe()

count    2.764874e+07
mean     1.433401e+02
std      1.053916e+04
min     -1.000000e+00
25%      8.060000e+00
50%      1.998000e+01
75%      3.661000e+01
max      5.000003e+07
Name: dti_ratio, dtype: float64

seems we have -1 for debt_to_income ratio

In [89]:
# Explore rows where dti_ratio equals '-1'

rejected_loans_df[rejected_loans_df['dti_ratio'] == -1].head()

,amount_requested,application_date,loan_title,risk_score,dti_ratio,zip_code,state,employment_length,policy_code,zip_code_prefix
10521,2000.0,2008-03-07,help credit cards problems,673.0,-1.0,NaN,NaN,< 1 year,0.0,NaN
10553,7500.0,2008-03-07,Looking for better rates!,614.0,-1.0,NaN,NaN,< 1 year,0.0,NaN
10559,5000.0,2008-03-07,buying car for work,NaN,-1.0,203xx,DC,< 1 year,0.0,203
10565,25000.0,2008-03-07,Looking to Grow My Business,NaN,-1.0,919xx,CA,2 years,0.0,919
10570,2000.0,2008-03-07,Medical Fee,NaN,-1.0,906xx,CA,1 year,0.0,906

In [97]:
#Check number of rows that have dti_ratio eual to '-1'

print('Number of rows in dti_ratio equal to -1:', (rejected_loans_df['dti_ratio'] == -1).sum())
print('This is ', round((((rejected_loans_df['dti_ratio'] == -1).sum())/rejected_loans_df.shape[0]) * 100, 2), '% of the dataset.')

Number of rows in dti_ratio equal to -1: 1203063
This is  4.35 % of the dataset.

In [98]:
#Let's check if there is rows of dti_ratio equal to zero

rejected_loans_df[rejected_loans_df['dti_ratio'] == 0].head()

,amount_requested,application_date,loan_title,risk_score,dti_ratio,zip_code,state,employment_length,policy_code,zip_code_prefix
5,15000.0,2007-05-27,Trinfiniti,645.0,0.0,105xx,NY,3 years,0.0,105
30,1000.0,2007-05-30,ashtru,695.0,0.0,443xx,OH,< 1 year,0.0,443
41,3000.0,2007-05-31,danthe83,536.0,0.0,551xx,MN,< 1 year,0.0,551
57,1200.0,2007-06-01,jflack,524.0,0.0,720xx,AR,4 years,0.0,720
58,4000.0,2007-06-01,ceodiva,460.0,0.0,302xx,GA,< 1 year,0.0,302

In [100]:
#Check number of rows that have dti_ratio eual to '0'

print('Number of rows in dti_ratio equal to 0:', (rejected_loans_df['dti_ratio'] == 0).sum())
print('This is ', round((((rejected_loans_df['dti_ratio'] == 0).sum())/rejected_loans_df.shape[0]) * 100, 2), '% of the dataset.')

Number of rows in dti_ratio equal to 0: 1045102
This is  3.78 % of the dataset.

In [88]:
rejected_loans_df['dti_ratio'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 27648741 entries, 0 to 27648740
Series name: dti_ratio
Non-Null Count     Dtype
--------------     -----
27648741 non-null  float64
dtypes: float64(1)
memory usage: 210.9 MB